# Application
NODE_ENV=development
PORT=8000
API_VERSION=v1
APP_NAME="Event Management Platform"

# Database
# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# JWT
JWT_ACCESS_SECRET=your_super_secret_access_key_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_refresh_key_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM="Event Management Platform <noreply@eventplatform.com>"

# Frontend URL (for CORS and email links)
NEXT_PUBLIC_WEB_URL = ""

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Points & Coupon Configuration
REFERRAL_POINTS=10000
REFERRAL_COUPON_DISCOUNT_PERCENTAGE=10
POINTS_EXPIRY_MONTHS=3
COUPON_EXPIRY_MONTHS=3

# Transaction Configuration
PAYMENT_DEADLINE_HOURS=2
ORGANIZER_CONFIRMATION_DAYS=3